<h1>Star Wars Library</h1>

<form #f="ngForm" (ngSubmit)="showItem(f)">
  <p>
    <label>Category  </label>
    <select [(ngModel)]="selectedCategory" name="category">
      <option *ngFor="let category of categories" [ngValue]="category">{{category | titlecase}}</option>
    </select>
    <label>  Item number</label>
    <input type="number" [(ngModel)]="selectedItem" name="selectedItem" required>
    <button type="submit" [disabled]="!f.valid">Go</button>
  </p>
</form>

<router-outlet></router-outlet>

<p>This program developed by Rachel Klesius</p>
